#Basic
HOST='change me'
DEBUG=True
SECRET_KEY='change_me'
SECRET_PASSWORD_SALT ='change_me'

#Translation
BABEL_TRANSLATION_DIRECTORIES='/cert_epsilon/static/localization/translations'
BABEL_DEFAULT_LOCALE='hr'
BABEL_LANGUAGE_LIST='hr en'

# Database
POSTGRE_USER='change_me'
POSTGRE_PASSWORD='change_me'
POSTGRE_IP='change_me'
POSTGRE_DATABASE='change_me'

#Mailling
SMTP_HOST='change_me'
SMTP_PORT=587
SMTP_USERNAME='change_me'
SMTP_PASSWORD='change_me'
LINK_EXPIRATION_VALUE=172800 #48hour
EMAIL_FROM='cve_obavijesti@cert.hr'

#Logging
LOGGING='DEBUG'
LOG_FILE='cert_epsilon.log'

#Subscription
MAX_ADVANCED_SUBSCRIPTION=10
