<!-- Nav -->
<ul is="nav" class="nav nav-pills nav-fill" style="margin-top:20px;">
  <li class="nav-item">
    <a class="navbar-brand pull-left" href="/">
      <img id="epsilon-logo" class="navbar-logo" src="../../static/res/cert_epsilon_logo.png" /></a></li>
  <ul class="nav nav-pills-links justify-content-center">
    <li class="nav-item">
      <a class="btn btn-light btn-block" href="/">{{_('all entries')}}</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-light btn-block" href="/vendors">{{_('browse')}}</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-light btn-block" href="/cwe">{{_('cwe')}}</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-light btn-block" href="/about">{{_('about')}}</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-primary" href="/subscriptions">{{_('subscriptions')}}</a>
    </li>
  </ul>

  <div class="dropdown language-picker">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{_('language')}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% set languages = config_dict['languages'].split() %}
      {% for lang in languages %}
      {% if lang=='en' %}
      <a class="dropdown-item" href="/lang/{{ lang }}">
        <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
        {{ lang }}
      </a>
      {% else %}
      <a class="dropdown-item" href="/lang/{{ lang }}">
        <span class="flag-icon flag-icon-{{ lang }} flag-icon-squared"></span>
        {{ lang }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <li class="nav-item"><a class="navbar-brand pull-right" href="/">
      <a href="https://ec.europa.eu/inea/en/connecting-europe-facility" target="_blank" rel="noopener noreferrer"><img class="navbar-logo" id="eu-logo" src="../../static/res/eu_logo.png"></a></li>
</ul>
<!-- End Nav -->
