{% extends "index.html" %}

{% block title %}CAPEC-{{ capec_id }}{% endblock %}
{% block content %}
<div id="capec-table" style="padding-top: 30px; width: 80%; margin-left:auto; margin-right:auto;">
  <div class="row">
    <div class="col-2 border-right border-bottom capec-desc-category">
      {{_('name')}}
    </div>
    <div class="col-10 border-bottom">
      <h3>{{ capec_name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-2 border-right border-bottom capec-desc-category">
      {{_('summary')}}
    </div>
    <div class="col-10 border-bottom">
      {{ capec_summary }}
    </div>
  </div>
  <div class="row">
    <div class="col-2 border-right border-bottom capec-desc-category">
      {{_('prerequisites')}}
    </div>
    <div class="col-10 border-bottom">
      {{ capec_prereqs }}
    </div>
  </div>
  <div class="row">
    <div class="col-2 border-right capec-desc-category">
      {{_('solutions')}}
    </div>
    <div class="col-10">
      {{ capec_solutions }}
    </div>
  </div>
</div>

{% endblock %}