{% extends "base.html" %}
{% block title %}{{cve['cve_id']}} - {{cve['description'][:100]}}{% endblock %}
   <style> 
   /*
    TODO IN SCSS!
   */
    .cve-info {
	   width: 400px;
	}
	.cve-info td {
	   text-align: center;
	}
	
	.table-even {
	   table-layout: fixed
	}
	
	.impact-none {
	   color:green;
	}
	
	.impact-partial {
	   color:orange;
	}
	
	.impact-complete {
	   color:red;
	}
	
	#actions {
	    float:right;
	}
	
	#actions button {
	    width:100%;
	}
	
	td > div {
	    padding-right: 10px;
	}
	
	pre {
	   white-space: pre-wrap;       /* CSS 3 */
	   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	   white-space: -pre-wrap;      /* Opera 4-6 */
	   white-space: -o-pre-wrap;    /* Opera 7 */
	   word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
  </style>
  {% block content %}
  <input type="hidden" id="_cveID" value="{{cve['id']}}">
  <!-- breadcrumb -->
  <ol class="breadcrumb center-div-items">
      <li class="active"> {{cve['cve_id']}} </li>
  </ol>
  <!-- CVE -->
  <table id="cveInfo" class="table table-hover table-striped">
    <tbody>
      <tr>
        <td class="warning">ID</td>
        <td class="info">
          {{ cve['cve_id'] }}
        </td>
      </tr>
      <tr>
          <td class="warning">{{ _('Summary') }}</td>
        <td class="info">{{ cve['description'] }}</td>
      </tr>
      <tr>
          <td class="warning">{{ _('References') }}</td>
        <td>
          <div class="semiCollapsed colfield">
            <ul class="block">
              {% for ref in cve['reference_links'].split('|')%}
                <li> <a href="{{ ref }}" target="_blank">{{ ref }}</a> </li>
              {% endfor %}
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td class="warning">CVSS</td>
        <td class="info">
          <table class="invisiTable">
              <tr><td><b>{{ _('Base') }}:          </b></td><td>{{ cve['cvss'] }}</td></tr>
              <tr><td><b>{{ _('Impact') }}:        </b></td><td>{{ cve['impact_score'] }}</td></tr>
              <tr><td><b>{{ _('Exploitability') }}:</b></td><td>{{ cve['exploitability_score'] }}</td></tr>
          </table>
        </td>
      </tr>
    <tr>
        <td class="warning">{{ _('Access') }}</td>
        <td class="info">
        <table class="table table-hover table-bordered cve-info table-even">
            <thead><tr class="warning"><td>{{ _('Vector') }}</td><td>{{ _('Complexity') }}</td><td>{{ _('Authentication') }}</td></tr></thead>
            <tr>
            <td>{{cve['cvss_access_vector']}}</td>
            <td>{{cve['cvss_access_complexity']}}</td>
            <td>{{cve['cvss_authentication']}}</td>
            </tr>
        </table>
        </td>
    </tr>
      <tr>
        <td class="warning">{{ _('Impact') }}</td>
        <td class="info">
        <table class="table table-hover table-bordered cve-info">
            <thead><tr class="warning"><td>{{ _('Confidentiality') }}</td><td>{{ _('Integrity') }}</td><td>{{ _('Availability') }}</td></tr></thead>
            <tr>
            <td class="impact-{{cve['cvss_confidentiality_impact']|lower}}">{{cve['cvss_confidentiality_impact']}}</td>
            <td class="impact-{{cve['cvss_integrity_impact']|lower}}">{{cve['cvss_integrity_impact']}}</td>
            <td class="impact-{{cve['cvss_availability_impact']|lower}}">{{cve['cvss_availability_impact']}}</td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="warning">{{ _('cvss-vector') }}</td>
        <td class="info">{{ cve['cvss_vector_string'] }}</td>
      </tr>
      <tr>
          <td class="warning">{{ _('Last major update') }}</td>
        <td class="info">{{ cve['last_modified_date'].strftime('%d-%m-%Y - %H:%M') }}</td>
      </tr>
      <tr>
          <td class="warning">{{ _('Published') }}</td>
        <td class="info">{{ cve['published_date'].strftime('%d-%m-%Y - %H:%M') }}</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}
