{% extends "base.html" %}
{% block title %}{{ data['cwe']['cwe_id'] }}{% endblock %}
{% block head %}
<div id="cwe-details">
    <h3>{{ data['cwe']['cwe_id'] }} - {{ data['cwe']['name'] }}</h3>
  <div class="cwe-desc">
      {{ data['cwe']['description'] }}
  </div>
</div>

{% endblock %}
{% block content %}
<div class="capec-table-space">
  {% if data['capec'] %}
      <table style="width:80%; margin-left:auto; margin-right:auto;">
        <tr>
          <th>CAPEC ID</th>
          <th>{{_('name')}}</th>
        </tr>
        {% for d in data['capec'] %}
        <tr>
          <td class="capec-id"><a href="/capec/{{ d['capec_id'] }}">{{ d['capec_id'] }}</a></td>
          <td>{{ d['name'] }}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
        <h4>{{_('This CWE doesn\'t have CAPECes')}}</h4>
    {% endif %}
</div>
{% endblock %}
