{% extends "base.html" %}
{% block title %}{{_('cwe')}}{% endblock %}
{% block head %}
<div class="row search-wrapper" style="width: 100vw;">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form action="/cwe", method="GET">
      <div class="input-group mb-3">
        <input name="q" type="text" class="form-control" placeholder="{{_('search cwes')}}" aria-label="search cwes"
          aria-describedby="button-addon2"/>
        <div class="input-group-append">
          <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="{{_('search')}}" />
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
</div>
{% endblock %}

{% block content %}
<div class="cwe-table-space">
  <table id="cwe-table">
    <thead>
      <tr class="table-header">
        <th class="cwe-id">CWE ID</th>
        <th class="cwe-desc">{{_('description')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for cwe in cwes %}
      <tr>
        <td class="cwe-id"><a href="cwe/{{ cwe['cwe_id'] }}">{{ cwe['cwe_id'] }}</a></td>
        <td>{{ cwe['description'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="pagination-div">
  {{ pagination.links }}
</div>
{% endblock %}
