{% extends "base.html" %}
{% block title %}{{_('subscriptions')}}{% endblock %}
{% block content %}
    {%  include './shared/message.html' %}

    <div class="choices-wrapper center-div-items row" style="margin-top: 100px;">
        <div class="buttons">
            <div class="btn btn-primary add-new-button">Pretplata</div>
            <div class="btn btn-sm btn-primary view-existed-list-button">Pregled</div>
            <div class="btn btn-sm btn-primary unsubscribe-existed-list-button">Odjava</div>
        </div>
    </div>
    <div class="add-new-wrapper panel-body" style="display:none">
        {% include 'shared/form_message.html' %}
        <form action="/subscriptions" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
            <button type="button" class="row infobox_filter"
                    data-toggle="popover"
                    data-content="{{ _('Detail instruction for options of subscription form') }}">
                [ℹ]: {{ _('Info text for instruction of subscription form')}}
            </button>
            <div class="row" style="padding-top:15px; margin-left:auto; margin-right:auto;">
        <div class="col-8">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active" role="presentation">
            <a class="nav-link active" role="tab" data-toggle="tab" href="#os-tab">{{_('operating systems')}}</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" role="tab" data-toggle="tab" href="#keywords-tab">{{_('keywords')}}</a>
          </li>
            <li class="nav-item" role="presentation">
            <a class="nav-link" role="tab" data-toggle="tab" href="#advanced-tab">{{_('advanced')}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="os-tab" role="tabpanel" class="tab-pane active padding10 subscription-tab round-corners-bottom">
            <div class="row padding10">
                <div class="col-9">
              </div>
              <div class="col-3">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            {{ form.cvss.label(class_="input-group-text", id_="basic-addon1") }}
                        </div>
                        {{ form.cvss(class_="form-control") }}
                    </div>
                </div>
              </div>
            </div>
            <div class="row padding10">
                 {% set count = [0] %}
                {%  for type in os_list %}
                      <div class="col-4 border-right">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="">
                          <label class="form-check-label">
                            <span class="os-type">{{ _(type) }}</span>
                          </label>
                        </div>
                      <div class="os-lists-wrapper scrollable">
                        {% for os in os_list[type] %}
                            <div class="os-list-wrapper">
                                <input id="os_list-{{ count[0]}}-os" name="os_list-{{ count[0] }}-os" type="checkbox" onmouseover="add_effect(this)" onmouseleave="remove_effect(this)" value="{{ os }}">
                                <label for="os_list-{{ count[0] }}-os">{{ os }}</label>
                            </div>
                            {% if count.append(count.pop() + 1) %}{% endif %}
                        {% endfor %}
                      </div>
                      </div>

                {% endfor %}

            </div>
          </div>
          <div id="keywords-tab" role="tabpanel" class="tab-pane subscription-tab padding20 round-corners-bottom">
              <div class="row">
              <div class="col-3">
                <div class="row">
                </div>
              </div>
            </div>
            <div class="row padding20" style="height: 40vh;">
              <div class="col-2"></div>
              <div class="col-8 carnet-blue padded20 round-corners h-100 center-div-items">
                <div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{_('keywords')}}</span>
                    </div>
                      {{form.regex(class_="form-control")}}
                      <div id="accept-action"></div>
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row padding20">
              <div class="col-5"></div>
              <div class="col-7">
              </div>
            </div>
          </div>
           <div id="advanced-tab" role="tabpanel" class="tab-pane subscription-tab padding20 round-corners-bottom">
                            <div class="vendor-product-cvss-header row">
                    <div class="col-md-3">Proizvođač</div>
                    <div class="col-md-3">Proizvod</div>
                    <div class="col-md-3">CVSS<a href="#" title="CVSS(eng. Common Vulnerability Scoring System) predstavlja ocjenu važnosti pojedine objavljene ranjivosti na listi. Unos polja nije obavezan"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div>
                </div>
                <div class="product-vendor-wrapper" data-toggle="fieldset" id="vendor-product-fields">
                    {% for vpc in form.vpc %}
                    <div class="row" data-toggle="fieldset-entry" style="padding-top:10px;padding-bottom:10px;">
                    <div class="vendor-wrapper col-md-3">{{ vpc.vendorField(class_="form-control vendor") }}</div>
                       <div class="product-wrapper col-md-3">{{ vpc.productField(class_="form-control product") }}</div>
                    <div class="cvss-wrapper col-md-3">{{ vpc.cvssField(class_="form-control cvss") }}</div>
                       <div><button type="button" data-toggle="fieldset-remove-row" id="vendor-product-{{loop.index0}}-remove">-</button></div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" data-toggle="fieldset-add-row" data-target="#vendor-product-fields">+</button>
                <input id="vendor-product-number" name="vendor-product-number" type="hidden" value="0">
                <input id="vendor-product-action" name="vendor-product-action" type="hidden" value="1">
                {% for error in form.email.errors %}
                    <span class="label label-danger">{{ error }}</span>
                {% endfor %}
            </div>
           </div>
        </div>
        <div class="col-4 border carnet-blue round-corners scrollable chosen-wrapper">
        <div class="row padding20 center-div">
          <h4>{{_('chosen subscriptions')}}</h4>
        </div>
          <div class="message">
              {{_('no_subscriptions')}}
          </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
              <div class="chouse chosen-os-list-wrapper ">
              </div>
            <div class="chosen-regex-list-wrapper">
            </div>
              <div class="chosen-advanced-list-wrapper">

              </div>
          </div>
          <div class="col-2"></div>
        </div>
        <div class="row padding20 remove-all-button hidden" >
          <button type="button" class="btn btn-danger pull-right">{{_('remove all')}}</button>
        </div>
      </div>
      </div>
            <div class="row padding20">
        <div class="col-8 padding10">
            <div class="input-group mb-3 email-wrapper">
                <div class="input-group-prepend">
                    {{ form.email.label(class_="input-group-text", id_="basic-addon1") }}
                </div>
                {{ form.email(class_="form-control",required='required') }}
                <div id="error"></div>
            </div>




        </div>
        <div class="col-4 padding10">
            {{ form.submit(class_="btn btn-primary add-subscription") }}{%  include 'shared/loader.html' %}
            <button type="button" class="btn back-button" style="margin-top:12px">Natrag</button>
            <!--<button class="btn btn-secondary" type="button" id="button-addon2">{{_('subscribe')}}</button>-->
        </div>
      </div>
        </form>
    </div>
    <div class="existed-wrapper row" style="display:none;margin-top: 12px;margin-left: 12px;margin-bottom: 15px;">
    <div class="col-md-3">
        <label for="email">Upišite Vašu adresu elektroničke pošte</label>
        <input class="form-control" id="existed-email-checker" name="email" required="required" type="text" value="">
        <div id="error"></div>
        <button type="button" class="btn btn-primary view-existed-button" style="margin-top:12px;">Pregled postojećih pretplata</button>
        <button type="button" class="btn back-button" style="margin-top:12px">Natrag</button>
    </div>
    <div class="message-box" style="margin-top:31px"></div>
</div>
    <div class="unsubscription-wrapper row" style="display:none;margin-top: 12px;margin-left: 12px;margin-bottom: 15px;">
    <div class="col-md-3">
    <label for="email">Upišite Vašu adresu elektroničke pošte</label>
    <input class="form-control" id="unsubscribe-email-checker" name="email" required="required" type="text" value="">
    <div id="error"></div>
    <button type="button" class="btn btn-primary unsubscribe-existed-button" style="margin-top:12px;">Zahtjev za odjavom</button>
    <button type="button" class="btn back-button" style="margin-top:12px">Natrag</button>
</div>
    <div class="message-box" style="margin-top:31px"></div>
</div>
<script>

    $(document).ready(function () {

        $('#accept-action').hide();

        $(document).on('click', '.remove-chosen-regex-button button.close', function(){
            var regex = $('input#regex');
           regex.val('');
           regex.attr("readonly", false);
           $('.chosen-regex-list-wrapper').children().remove();
        });
        const regex = document.getElementById('regex');
        const acceptAction = document.getElementById('accept-action');

        const inputHandler = function(e) {
	        page_number = regex.value;
	        acceptAction.innerHTML = "+";
	        acceptAction.classList.remove("btn-light");
	        acceptAction.classList.add("btn-success");
	        search = true
	        acceptAction.onclick=addRegex;
	    }

	    function addRegex() {
            console.log("Empty");
            var preparedHtml = '<div class="carnet-dark-blue round-corners"><span style="font-weight:bold"> {{ _('keywords') }}:</span> <span class="' + regex.value + '-chosen-list-item remove-chosen-regex-button"  class="close" aria-label="Close">' + regex.value + '<button type="button" class="close" aria-label="Close">\n' +
                '  <span aria-hidden="true">×</span>\n' +
                '</button></span></div>'
            $('.chosen-regex-list-wrapper').append(preparedHtml);
            $('.message').hide();
            acceptAction.style.display = "none";
            //regex.value = "";
            regex.readOnly = true;
        }

        $('#regex').on('keyup', function() {
            if (this.value.length == 0) {
                acceptAction.style.display = "none";
             }
            else {
                 acceptAction.style.display = "block";
            }
        });

	    regex.addEventListener('input', inputHandler);
	    regex.addEventListener('propertychange', inputHandler); // for IE8
	    // Firefox/Edge18-/IE9+ don’t fire on <select><option>
	    regex.addEventListener('change', inputHandler);

        var email = $("#email");
        var error = $("#error");

        var subscriptionErrors = $('html[data-path="/subscriptions"] div.alert.alert-danger');

        if(subscriptionErrors.length > 0) {
            $('.add-new-wrapper').show();
            $('.subscription-message-wrapper').show();
            $('.choices-wrapper').hide();
            $('.unsubscription-wrapper').hide();
            $('#vendor-product-action').val(1);
        }

        $('.add-new-button').click(function(e){
            $('.add-new-wrapper').show();
            $('.subscription-message-wrapper').show();
            $('.choices-wrapper').hide();
            $('.unsubscription-wrapper').hide();
            $('#vendor-product-action').val(1);
            $('input#submit').attr('value', 'Pretplata');
        });

        $('.back-button').click(function(e){
            $('.add-new-wrapper').hide();
            $('.existed-wrapper').hide();
            $('.unsubscription-wrapper').hide();
            $('.choices-wrapper').show();
        });

        $('.view-existed-list-button').click(function(e){
            $('.existed-wrapper').show();
            $('.choices-wrapper').hide();
            $('.unsubscription-wrapper').hide();
        });

        $('.unsubscribe-existed-list-button').click(function(e){
            $('.add-new-wrapper').hide();
            $('.unsubscription-wrapper').show();
            $('.choices-wrapper').hide();
            $('.subscription-message-wrapper').hide();
            $('input#submit').attr('value', 'Odjava');
        });

        $('.os-list-wrapper input[type="checkbox"]').change(function () {
            var selectedValue = $.trim($(this).val().replace(/\s+/g, '_'));
            if (this.checked) {
                $('.message').hide();
                var preparedHtml = '<div class="carnet-dark-blue round-corners"><span class="' + selectedValue + '-chosen-list-item remove-chosen-os-button"  class="close" aria-label="Close">' + $(this).val() + '<button type="button" class="close" aria-label="Close">\n' +
                    '  <span aria-hidden="true">×</span>\n' +
                    '</button></span></div>'
                $('.chosen-os-list-wrapper').append(preparedHtml);
            } else {
                $('.' + selectedValue + '-chosen-list-item').parent().remove();
                if ($('.chosen-os-list-wrapper span').length == 0) $('.message').show();
            }
            $('#textbox1').val(this.checked);
        });

        $(document).on('click', '.remove-chosen-os-button button.close', function(){
            var mainClass = $(this).parent().attr("class").split(/\s+/)[0];
            var osChosenClass = mainClass.split("-")[0];
            console.log(osChosenClass.replaceAll('_',' '));
            $('input[value="' + osChosenClass.replaceAll('_',' ') + '"]').prop("checked", false);
            $(this).parent().parent().remove();
        });

        // Overrides the default autocomplete filter function to search only from the beginning of the string
        $.ui.autocomplete.filter = function (array, term) {
    var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
    return $.grep(array, function (value) {
        return matcher.test(value.label || value.value || value);
    });
};

        $('.cvss, #cvss').number( true, 1 );

	    {#$( document ).tooltip();#}

        //wrong email format
        email.onblur = function() {
var regex = /^[\w\.\+\-]+\@[\w]+\.[a-z]{2,10}$/;

  if($("#email").val()==""){
    email.addClass('invalid');
    error.innerHTML = 'Molimo unesite adresu elektroničke pošte.'
    return false;
  } else {
	if(!regex.test($("#email").val())){
	  email.addClass('invalid');
	  error.innerHTML = 'Neispravan format adrese elektroničke pošte.'
	  return false;
	}
  }

};

        //remove error, user wants to re enter something
        email.onfocus = function() {
          if(this.hasCLass('invalid')){
            this.removeClass('invalid');
            error.innerHTML = "";
          }
        };

        var options = {
    source: ["ActionScript", "AppleScript"],
    minLength: 3
};
        var autocompleteIsSelect = false;

        $.getJSON( "api/get_vendors", function( data, status, xhr ) {
              var vendor_names = [];
              for (var i = 0; i < data.length; i++) {
                  vendor_names.push(data[i]["name"]);
              }
              $( "input#vpc-0-vendorField" ).autocomplete({
      		source: vendor_names,
			autoFocus: true,
			change: function(event,ui){
				$(this).val((ui.item ? ui.item.value : ""));
				$(this).parent().parent().find('input.product').val('');
			},
			response: function(event, ui) {
				if (!ui.content.length) {
						var noResult = { value:"",label:"Nema rezultata" };
						ui.content.push(noResult);
				}
			},
			minLength: 3,
      		select: function( event, ui ) {
        		$.getJSON( "/api/get_products_for_vendor?vendor=" + ui.item.value, function( data, status, xhr ) {
                var product_names = [];
                for (var i = 0; i < data.length; i++) {
                  product_names.push(data[i]["name"]);
                }
				$( "input#vpc-0-productField" ).autocomplete({
					source: product_names,
					autoFocus: true,
					change: function(event,ui){
						$(this).val((ui.item ? ui.item.value : ""));
					},
					response: function(event, ui) {
						if (!ui.content.length) {
								var noResult = { value:"",label:"Nema rezultata" };
								ui.content.push(noResult);
						}
					},
					minLength: 3,
					select: function (e, i) {
                    				autocompleteIsSelect = true;
                    				$("input#vpc-0-productField").val(i.item.label);
						//$('input.product').prop("readonly",true);
                			},
                			close: function (event, ui) {
                    				if (!autocompleteIsSelect) { autocompleteIsSelect = false; $(this).val('');}
					}
				})
			});
      		}
   	      });

       });

	    $( ".view-existed-button" ).click(function() {
	    if($("#existed-email-checker").val().length > 0)
	    {

                var regex = /^[\w\.\+\-]+\@[\w]+\.[a-z]{2,3}$/;

                if(!regex.test($("#existed-email-checker").val())){
                  //email.classList.add('invalid');
                  //error.innerHTML = 'Neispravan format adrese elektroni ^mke po  te.'
                  $('.message').text('');
                  return false;
                }
               	else {

                    $.getJSON( "request_subscription_list/" + $("#existed-email-checker").val(), function( data, status, xhr ) {
                        $('.message-box').show();
                        $('.message-box').text(data["message"]);
                    });
		        }

		 //$('.message').text('Na zadanu email adresu je poslana lista na kojima ste trenutno preplaćeni');
	    }
            else
	    {
		$('.message-box').text('Adresa elektroničke pošte nije zadana ili nije ispravno upisana.');
	    }

	});

        $( ".unsubscribe-existed-button" ).click(function() {
            if($("#unsubscribe-email-checker").val().length > 0)
            {

		var regex = /^[\w\.\+\-]+\@[\w]+\.[a-z]{2,3}$/;

                if(!regex.test($("#unsubscribe-email-checker").val())){
                  //email.classList.add('invalid');
                  //error.innerHTML = 'Neispravan format adrese elektroni ^mke po  te.'
                  $('.message-box').text('');
		  return false;
                }

		else {
            $.getJSON( "request_unsubscriptions/" + $("#unsubscribe-email-checker").val(), function( data, status, xhr ) {
                $('.message-box').text(data["message"]);
            });
		}
            }
            else
            {
                $('.message-box').text('Adresa elektroničke pošte nije zadana ili nije ispravno upisana');
            }

        });

	    $('.add-subscription').click(function(){
	var regex = /^[\w\.\+\-]+\@[\w]+\.[a-z]{2,10}$/;

	  if($("#email").val()==""){
		email.addClass('invalid');
		error.text('Molimo unesite adresu elektroničke pošte.');
		return false;
	  } else {
		 if(!regex.test($("#email").val())){
		   email.addClass('invalid');
		   error.text('Neispravan format adrese elektroničke pošte.');
		   return false;
		  }
		 else {
		     error.text('');

         }
		}
	});

    });

    $(function () {
        var scntDiv = $('#vendor-product-fields');


        $('button[data-toggle=fieldset-add-row]').on('click', function (e) {
	    var i = $('#vendor-product-fields .row').length;
	    if(i >= {{ config_dict["max_advanced_subscription"] }}) {
	        alert('Unjeli ste vise od {{ config_dict["max_advanced_subscription"] }} preplata');return false;
        }
        e.preventDefault();
        e.stopPropagation();
		var row = '<div class="row" data-toggle="fieldset-entry" style="padding-top:10px;padding-bottom:10px;">' +
			       '<div class="vendor-wrapper col-md-3"><input class="form-control vendor ui-autocomplete-input" id="vpc-' + i + '-vendorField" name="vpc-' + i + '-vendorField" required="" type="text" value="" autocomplete="off"></div>' +
                               '<div class="product-wrapper col-md-3"><input class="form-control product" id="vpc-' + i + '-productField" name="vpc-' + i + '-productField" type="text" value=""></div>' +
			       '<div class="cvss-wrapper col-md-3"><input class="form-control cvss" id="vpc-' + i + '-cvssField" name="vpc-' + i + '-cvssField" type="text" value=""></div>' +
                               '<div><button type="button" data-toggle="fieldset-remove-row" id="vendor-product-' + i + '-remove">-</button></div>' +
                            '</div>';
        $(row).appendTo(scntDiv);
        //return false;

		$('input#vpc-' + (i).toString()  + '-cvssField').number( true, 1 );

	    $.getJSON( "api/get_vendors", function( data, status, xhr ) {
              var vendor_names = [];
              for (var i = 0; i < data.length; i++) {
                  vendor_names.push(data[i]["name"]);
              }
              var i = $('#vendor-product-fields .row').length - 1;
              console.log('input#vpc-' + (i).toString()  + '-vendorField');
              $('input#vpc-' + (i).toString()  + '-vendorField').autocomplete({
                source: vendor_names,
				autoFocus: true,
				change: function(event,ui){
                    console.log('Change');
					$(this).val((ui.item ? ui.item.value : ""));
					$(this).parent().parent().find('input.product').val('');
				},
				response: function(event, ui) {
                    console.log('Reponse')
					if (!ui.content.length) {
							var noResult = { value:"",label:"Nema rezultata" };
							ui.content.push(noResult);
					}
				},
                minLength: 3,
                select: function( event, ui ) {
                        console.log('Select')
                        $.getJSON( "/api/get_products_for_vendor?vendor=" + ui.item.value, function( data, status, xhr ) {
                                var product_names = [];
                                for (var i = 0; i < data.length; i++) {
                                  product_names.push(data[i]["name"]);
                                }
                                var i = $('#vendor-product-fields .row').length - 1;
                                $('input#vpc-' + (i).toString()  + '-productField').autocomplete({
                                        source: product_names,
										autoFocus: true,
										change: function(event,ui){
											$(this).val((ui.item ? ui.item.value : ""));
										},
										response: function(event, ui) {
											if (!ui.content.length) {
													var noResult = { value:"",label:"Nema rezultata" };
													ui.content.push(noResult);
											}
										},
                                        minLength: 3
                                });
                        });
                }
              });
	    });

	    console.log(i);
	    console.log($('input#vpc-' + (i - 1).toString()  + '-vendorField').val());
        if($('#vendor-product-fields .row').length > 1) addAdvancedOption($('input#vpc-' + (i - 1).toString()  + '-vendorField'), $('input#vpc-' + (i - 1).toString()  + '-productField'));
		$('#vendor-product-number').val($('#vendor-product-fields .row').length);

        return false;

    });

        	    function addAdvancedOption(vendorName, productName) {
            console.log("Empty");
            var preparedHtml = '<div class="carnet-dark-blue round-corners"> <span class="' + vendorName.val() + '_' + productName.val() + '-chosen-list-item remove-advanced-option-button"  class="close" aria-label="Close">' + vendorName.val() + '(' + productName.val() + ') <button type="button" class="close" aria-label="Close">\n' +
                '  <span aria-hidden="true">×</span>\n' +
                '</button></span></div>'
            $('.chosen-advanced-list-wrapper').append(preparedHtml);
            $('.message').hide();
        }

        $(document).on('click', '.remove-advanced-option-button button.close', function(){
            var mainClass = $(this).parent().attr("class").split(/\s+/)[0];
            var osChosenClass = mainClass.split("-")[0];
            console.log(osChosenClass.replaceAll('_',' '));
            var vendorProducts = $('input.vendor[value="' + osChosenClass.split('_')[0] + '"]');//, input.product[value="' + osChosenClass.split('_')[1] + '"]');
            console.log(vendorProducts.length);
            $(this).parent().parent().remove();
        });



        $('form').on('click', 'button[data-toggle=fieldset-remove-row]', function () {
		var i = $('#vendor-product-fields .row').length;
        if (i > 1) {
            $(this).parent().parent().remove();
        }
		$('#vendor-product-number').val($('#vendor-product-fields .row').length);
        return false;
    });

    });
</script>
{% endblock %}
